
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>
		
		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><!--img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/--></div>
			<div class="promociones-titulo-vertical">PROMOCIONES</div>
		</div>


		<div class="cartelera-col2">
		

			<br>
			<div class="cartelera-texto " style="height: 35vw;">
				<img src="{{ asset('bundles/app/uploads/noticias/temporada-descuentos.jpg') }}" style="height: 30vw; float:left; margin: 1vw;" />
				
			</div>

			<br>
			
			
		</div>

	   
	