html {
     height: 100%;
}

body {
	overflow: auto;
	font-family: 'Trebuchet MS';
	background-image: url(../images/bg.jpg); background-size: 100% auto; background-repeat: no-repeat;
	background-color: #fff;
}

#divSuperior{
	position: fixed;
	width: 100%;
	height: 9%;
	top: 0%;
	left: 0%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
}

#divTouch{ position: absolute; top: 0%; left: 0%; width:100vw; height: 8vh; display: block; z-index: 20 }
#touch { position: absolute; top: 0%; right: 0%; width: 100%; }

.mosaico-hor{}
.cartel{  width: 35vw; height: 55vw; float: le }

#logo { position: fixed; top: 3%; left: 82%; width: 11.93%; z-index:10; }
	#logo img { width:100%;}

#divIconTouch{ position: fixed; top: 90%; left: 94%; width: 4.27%; height: 9.26%; }
	#divIconTouch img { width:100%;}


#divVideo{ position: fixed; bottom: 0%; left: 0%; width:100vw; height: 92vh; z-index: 20 }

video{position: fixed; bottom: 0%; left: 0%; width:100vw; height: auto; z-index: 20; /*max-width:600px;*/ }
.cartelera-texto video{position: relative;}

#cuenta{ position: absolute; top: 0%; right: 0%; font-family: 'Trebuchet MS'; font-size: 2vmin; color: #fff; z-index: 12;}

.atras { position: absolute; top: 3vw; left: 2vw; width: 10vw; line-height: 2vw; text-decoration: none; font-size: 2vmin; color: #eee; z-index:10; }	 


#iconos{ position: fixed; bottom: 0%; right: 0%; width:100vw; height: auto; background-color: rgba(255, 255, 255, 0.9); padding: 1vh 0vh 0vh 1vh;}

#iconos img{ width: 24vw; max-height: 10vh;}

#bgIconosx {position: fixed; bottom: 0%; right: 0%; width: 100%; height: 15vh; overflow: visible; background: rgba(255, 255, 255, 1);}

.imagen img{ width: 100%;}

.titulo-vertical { position: absolute; top: 40vw; left: -16vw; font-family: 'Trebuchet MS'; font-size: 14vmin; color: rgb(255, 255, 255); 
	-moz-transform: rotate(-90deg);  /* Firefox */
  	-o-transform: rotate(-90deg);  /* Opera */
   	-webkit-transform: rotate(-90deg);  /* Safari y Chrome */ 
   	z-index: 10;
   }
.titulo-vertical-icono { position: absolute; top: 80vw; left: 2vw; width:16vw; height: auto;}


.titulo-horizontal { position: absolute; top: 3vw; left: 35vw; font-family: 'Trebuchet MS'; font-size: 10vmin; color: #fff; z-index: 10;}
.titulo-horizontal-icono { position: absolute; top: 3vw; left: 20vw; width:12vw; height: auto;}

.niveles-col2-titulo{ position: absolute; top: 0vw; left: 20vw; width:20vw; height: 15vw; background-color: rgba(255, 255, 255, 0.4);}
.niveles-col3-titulo{ position: absolute; top: 0vw; left: 44vw; width:56vw; height: 15vw; background-color: rgba(255, 255, 255, 0.4);}
.t2 { margin-top: 5vw; margin-left: 2vw; font-family: 'Trebuchet MS'; font-size: 4vmin; color: #fff; }
.t3 { margin-top: 5vw; margin-left: 2vw; font-family: 'Trebuchet MS'; font-size: 3vmin; color: #fff; }

.niveles-col2{ position: absolute; top: 15vw; left: 20vw; width:20vw; height: 50vh; overflow: hidden; }

.niveles-col2 a { float: left; width: 100%; height: 33%; font-family: 'Trebuchet MS'; text-decoration: none; font-size: 3vmin; color: rgb(35, 120, 185);}
.niveles-col2 .active{color: rgb(255, 255, 255);}
.nivel{ padding-top:2vw; text-align: center;}
.nivel img { width: 7vw;}


.niveles-col3{ position: relative; top: 15vw; left: 44vw; width:56vw; height: 74vh; overflow: auto; }

.niveles-col3 a { float: left; width: 26vw; height: 6.1vw; font-family: 'Trebuchet MS'; text-decoration: none; font-size: 2vmin; color: rgb(35, 120, 185); padding: 1vw; }
	.flip1, .flip4 { background-color: rgba(255, 255, 255, 0.6); }
	.flip2, .flip3 { background-color: rgba(255, 255, 255, 0.4); }

	.flip1:hover, .flip2:hover, .flip3:hover, .flip4:hover, .active { background-color: rgba(31, 140, 186, 0.7); color: #fff; }

.categorias-col1-titulo{ position: absolute; top: 15vw; left: 0vw; width:26vw; height: 15vw; background-color: rgba(255, 255, 255, 0.4);}
.categorias-col1 {position: absolute; top: 35vw; left: 0vw; width:26vw; height: 77.5vw; overflow: auto; overflow-x: hidden; }
.categorias-col1 a {float: left; width: 24vw; height: 5vw; font-family: 'Trebuchet MS'; text-decoration: none; font-size: 2vmin; color: rgb(35, 120, 185); padding: 1vw; }

.categorias-col2-titulo{ position: absolute; top: 15vw; left: 30vw; width:65vw; height: 15vw; background-color: rgba(255, 255, 255, 0.4);}
.categorias-col2 {position: absolute; top: 35vw; left: 30vw; width:65vw; height: 77.5vw; overflow: auto; overflow-x: hidden; }
.categorias-col2 a {float: left; width: 61vw; height: 6vw; font-family: 'Trebuchet MS'; text-decoration: none; font-size: 2vmin; color: rgb(35, 120, 185); padding: 2vw; padding-top: 4vw; }
.categorias-col2-local {position: absolute; top: 35vw; left: 30vw; width:65vw; height: 77.5vw; overflow: auto; overflow-x: hidden; }


.logo-local{ float: left; width: 28vw; height: 12vw; text-align: center; background-color: rgba(255, 255, 255, 1); padding: 1vw; }
.logo-local img{ max-width: 100%; max-height: 12vw}

.info-local{ float: right; width: 28vw; height: 10vw; font-family: 'Trebuchet MS'; text-decoration: none; font-size: 1.8vmin; color: rgb(35, 120, 185); padding: 2vw; background-color: rgba(255, 255, 255, 0.9);}
 
.foto-local{position: absolute; top:0vw; width: 65vw; height: auto; margin-top: 16vw; text-align: center; background-color: rgba(255, 255, 255, 0.4); }
.foto-local img{ width: 100%; max-height: 60vw}

.mapa-local{position: absolute; top:0vw; width: 65vw; height: auto; margin-top: 16vw; text-align: center; background-color: rgba(255, 255, 255, 0.4); display: none; }
.mapa-local img{ width: 100%; max-height: 60vw}

.ver-foto-mapa {position: absolute; top:1vw; right: 1vw; width: 5vw; height: auto; z-index: 20; }
	.ver-foto-mapa img{ width: 100%; }

#ubicacion {position: absolute; width: 8vw; height: auto;}

.cartelera-col2{ position: absolute; top: 0vw; right: 2vw; width: 70vw; height: 62vh; color: #1F8CBA; font-family: 'Trebuchet MS'; font-size: 1.4vmin; overflow: auto; }
.cartelera-titulo-vertical { position: absolute; top: 40vw; left: -22vw; font-family: 'Trebuchet MS'; font-size: 12vmin; color: rgb(255, 255, 255); 
	-moz-transform: rotate(-90deg);  /* Firefox */
  	-o-transform: rotate(-90deg);  /* Opera */
   	-webkit-transform: rotate(-90deg);  /* Safari y Chrome */ 
   	z-index: 10;
   }
.cartelera-texto{ padding-right: 5vw; font-size: 1.2vmin;} 
.t4 { margin-top: 0vw; margin-left: 2vw; font-family: 'Trebuchet MS'; font-size: 3vmin; }


.noticias-titulo-vertical { position: absolute; top: 40vw; left: -18vw; font-family: 'Trebuchet MS'; font-size: 14vmin; color: rgb(255, 255, 255); 
	-moz-transform: rotate(-90deg);  /* Firefox */
  	-o-transform: rotate(-90deg);  /* Opera */
   	-webkit-transform: rotate(-90deg);  /* Safari y Chrome */ 
   	z-index: 10;
   }

.promociones-titulo-vertical { position: absolute; top: 45vw; left: -22vw; font-family: 'Trebuchet MS'; font-size: 10vmin; color: rgb(255, 255, 255); 
	-moz-transform: rotate(-90deg);  /* Firefox */
  	-o-transform: rotate(-90deg);  /* Opera */
   	-webkit-transform: rotate(-90deg);  /* Safari y Chrome */ 
   	z-index: 10;
   }

@media screen and (max-width: 480px) {
   /* Aquí van las reglas CSS necesarias */
   
}